[submodule "LightGBM"]
	path = LightGBM
	url = https://github.com/Microsoft/LightGBM.git
[submodule "Multiverso"]
	path = Multiverso
	url = https://github.com/Microsoft/Multiverso
[submodule "LightLDA"]
	path = LightLDA
	url = https://github.com/Microsoft/LightLDA
