[submodule "Multiverso"]
	path = multiverso
	url = https://github.com/Microsoft/multiverso
[submodule "LightLDA"]
	path = lightlda
	url = https://github.com/Microsoft/lightlda
[submodule "LightGBM"]
	path = LightGBM
	url = https://github.com/Microsoft/LightGBM.git